body {
  width: 100%;
}

.header-container {
  text-align: center;
}

.main-container {
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.first-div {
  text-align: center;
}

.p-1 {
  text-align: left;
}

.video-container {
  width: 100%;
}

video {
  width: 100%;
}
