body {
  width: 100%;
}

.header-container {
  text-align: center;
}

.p-header {
  height: 35px;
  background-color: #eff5713b;
}

.p-header2 {
  text-align: inherit;
  width: 100%;
  color: #107777;
}

span {
  font-weight: bold;
}

.main-container {
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.first-div {
  text-align: center;
}

.p-1 {
  text-align: left;
}

.video-container {
  width: 100%;
}

video {
  width: 100%;
}
