body {
  /* !IMPORTANTE INSERIRE LE REGOLE SU BODY,HEADER,MAIN E FOOTER
  PER LA MAIN AL CENTRO IMPOSTARE UNA WIDTH (larghezza) MINORE RISPETTO AL BODY COSICCHE' 
  GLI ELEMENTI RESTINO
  SUL LATO SINISTRO E NON AL CENTRO, PERCHE' IMPOSTANDO AD ESEMPIO LA MAIN AL CENTRO 
  (TEXT-ALING:CENTER)
  ANCHE GLI ELEMENTI ANDRANNO AL CENTRO*/
  width: 100%;
  font-family: lato;
  font-size: medium;
}

.header-container {
  width: 100%;
  text-align: center;
}

.img-container {
  width: 100%;
  text-align: center;
}

img {
  width: 100%;
  max-width: 10em;
}

.p-header {
  width: 100%;
  height: 35px;
  background-color: #eff5713b;
  border-top-style: solid;
  border-top-color: orange;
}

.p-header2 {
  text-align: center;
  width: 100%;
  color: #107777;
}

span {
  font-weight: bold;
}

.main-container {
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.first-div {
  text-align: center;
}

.p-1 {
  text-align: left;
}

.video-container {
  width: 100%;
}

video {
  width: 100%;
  border-radius: 10px;
}

.span-p {
  color: orangered;
  margin-left: 10px;
}

.span-p2 {
  color: rgb(4, 173, 133);
  margin-left: 10px;
}

.border-style {
  border-left-style: solid;
  border-left-color: orange;
}

hr {
  background-color: rgb(4, 173, 133);
}

.color-a {
  color: rgb(4, 173, 133);
}
